* { 
margin: 0; 
padding: 0;
font-family: Calibri; }

body {
	font: 16px Helvetica, Sans-Serif;
	line-height: 24px;
	background-color: white;
}

.clear { clear: both; }

.personalInfo {
	color: gray;
	font-size: 14px;
	margin: 0 0 0 0;
}

.sectionTitle {
	font-weight: bold;
	color: DimGray;
	font-size: 20px;
	margin: 15px 0 0 0;
}

#mainContent {
	//width: 800px;
	margin: 40px auto 60px;
}

a:hover {
	color: RoyalBlue;
}

img {
	float: right;
}

#profilePic {
	//border: 1px solid #999;
	padding: 5px;
	max-width: 50%;
	height: auto;
	margin: -30px 0 0 0;
}


#socialMediaSection{
	float: right;
	width: 45%;
	clear: right;
}

#socialMedia {
	margin: 0 5px 0 0;
	max-width: 40px;
	height: auto;
}

h1 {
	margin: 0 0 5px 0;
	//padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	//border-bottom: 1px solid #999;
}

h2 {
	font-size: 20px;
	margin: 0 0 6px 0;
	position: relative;
}

h2 span {
	position: absolute;
	bottom: 0;
	right: 0;
	font-style: italic;
	font-size: 16px;
	color: #999;
	font-weight: normal;
}

ul {
	margin: 0 0 32px 17px;
}

#topMenu {
	
}

#topMenu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#topMenu li { float: left; }

#topMenu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topMenu li a:hover:not(.active) { background-color: #111; }

#topMenu.active { background-color: #4CAF50; }

dt {
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
	text-align: right;
	padding: 0 26px 0 0;
	width: 150px;
	float: left;
	height: 100px;
	border-right: 1px solid #999;
	color: DimGray;
}

dd {
	width: 600px;
	float: right;
}

dd.clear {
	float: none;
	margin: 0;
	height: 15px;
}

p {
	//margin: 0 0 16px 0;
}

#coverLetter {
	//max-width: 500px;
	//float: left;
}

#coverLetter p {
	//font-family: Georgia, Serif;
	font-style: italic; 
	//color: #666;
	color: black;
}

html {
	scroll-behavior: smooth;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}